<div class="card border-primary mb-3">
  <div class="card-header">Paints</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Paint list</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/paints/form']">Create paint</button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>version</th>
          <th>name</th>
          <th>brand</th>
          <th>range</th>
          <th>code</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paint of paints">
          <td>{{paint.id}}</td>
          <td>{{paint.version}}</td>
          <td>{{paint.name}}</td>
          <td>{{paint.brand}}</td>
          <td>{{paint.brandRange}}</td>
          <td>{{paint.code}}</td>
          <td>
            <button type="button" name="button" [routerLink]="['form',paint.id]" class="btn btn-primary">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
